body {
    background-color: #ebb1de;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    height: 100%;
}

.nav {
    background-color: #ebb1de;
    color
    color: white;
    padding: 1em;
    flex-direction: row;
    justify-content: flex-start;
}

.footer {
    text-align: center;
    font-family: 'Lato', sans-serif;
    margin: 1rem 0;
    font-size: 13px;
    justify-content: flex-end;
}